In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import requests
from glob import glob
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime
from time import sleep
from tqdm import tqdm

HEADERS = ({'User-Agent':
            'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36',
            'Accept-Language': 'en-US, en;q=0.5'})

In [2]:
#let's import the data

dfnames = pd.read_csv('Tax Program Winter Outreach - Contacts.csv')

names = dfnames['   Farm'].values.astype(str)

dfdata = pd.read_csv('Deals Overview 2.0 - Archive.csv')
dfdata = dfdata.drop([0,1])

dfdata.iloc[:,14] = dfdata.iloc[:,14].fillna(0)
dfdata.iloc[:,13] = dfdata.iloc[:,13].astype(str)




dfdata.iloc[:,14] = dfdata.iloc[:,14].replace({'\$': '', ',': '',}, regex=True)
dfdata.iloc[:,13] = dfdata.iloc[:,13].replace({'\$': '', ',': ''}, regex=True)



newpay = dfdata['Payment'].values

# for i,v in enumerate(newpay):
#     newpay[i] = str(newpay[i])
    

droprows = []
for i,v in enumerate(dfdata['Payment'].values):
    try:
        int(v)
    except:
        print(v)
        print(i)
        droprows.append(i+2)
        

        

        
dfdata = dfdata.drop(droprows)

dfdata['Payment'] = dfdata['Payment'].astype(int)



dfdata = dfdata[dfdata['Payment']==0]
dfdata['   Produce'] = dfdata['   Produce'].fillna(0)
dfdata = dfdata[dfdata['   Produce'] != 0]

dfdata['   Produce'] = dfdata['   Produce'].str.strip()
dfdata['   Produce'] = dfdata['   Produce'].str.lower()
dfdata['   Produce'] = dfdata['   Produce'].str.capitalize()

removelist = ['Produce boxes (potatoes, onions, carrots, oranges, grapefruit, apples , pears), # = 1620',
             'Basil and arugula',
             'Bok choy, watercress, sorrel',
             'Produce boxes (130)',
             'Roma/ round tomatoes',
             'Produce medley (cucumber, corn, pepper, squash, grape, cherry, onion)',
             'Variety of snack items pretzels, chips, popcorn, pork rinds, etc. all in family size servings',
             'Tomatos, eggplant, squash, peppers',
             'Product donation','Eggs(67,000)'
             'Carrots, juice, salad dressing','Baby red endives',
             'Tomatoes and peppers',
             'Roma & round tomatoes',
             'Produce boxes (180)',
             'Vegan sliced cheese packages (30,600 lbs), 1 quart cartons of buttermilk (4,000 lbs)',
             'Brussell sprouts/mix produce',
             "Bitchin' sauce",'Eggs(67,000)',
             'Radish, carrot, beets',
 'Roma & grape tomatoes','Eggs(67,000)'
             '70% pre-packaged variety salads, 30% variety bags of veggies (36,000 lbs)',
             'Salads & veggies + vegan cheese',
 'Green beans/ yellow squash','Perssimons',
 'Mixed veggies',
             'Potato/bell pepper',
 'Assorted sauces','Powdered milk', 'Beverages / carrots',
 'Grape tomatoes/ green beans','Pears & plums',
             'Tomato/mini bell pepper',
 'Melon / watermelon',
 'Peaches nectarines','Produce medley','Mini sweet peppers','Cucumbers, tomatoes','Pumpkins and sqaush',
 'Produce boxes','Drinks','Kale/arugula','Mixedgreens',
 'Corn, potatoes','Sweet potatoes, carrots, juice, leafy greens','Kale and spinach',
             '12 pallets of the veggie mix, 12 pallets of the cheese',
 'Iceberg lettuce','Baby red endivess','Eggs(67,000)','70% pre-packaged variety salads, 30% variety bags of veggies (36,000 lbs)',
 'Pre-prepared bags of vegetables', "Banana's",'Microgreens',
 'Chopped lettuce','Cookies','Persimons','Yucca','Salad mix','Leafy greens', 'Citrus', 'Romaine',
 'Mini bell peppers','Arugula, kale','Apple-grape fruitly juice bottles','Mixed produce (bananas, lettuce, etc.)',
             'Chard, kale, bok choy','Scallions /  hot peppers/potatoes / mixed produce',
             'Frozen potato snacks','Produce boxes (potatoes, onions, carrots, oranges, grapefruit, apples , pears), # = 1430',
             'Water','Beverages','Produce boxes (140)','Salad veggies','Brocoli','Juice and carrots','Peanut butter', 'Bottled water', 
                'Carrots, juice, salad dressing']


for i in range(1,dfdata.shape[0]):
    if dfdata.iloc[i,12] == 'Graoefruit':
        dfdata.iloc[i,12] = 'Grapefruit'
        
    elif dfdata.iloc[i,12] == 'Cucmbers':
        dfdata.iloc[i,12] = 'Cucumbers'
    
    elif dfdata.iloc[i,12] == 'Asparagus/green beans' or dfdata.iloc[i,12] == 'Green bean':
        dfdata.iloc[i,12] = 'Green beans'
        
    elif dfdata.iloc[i,12] == 'Lime, lemons':
        dfdata.iloc[i,12] = 'Lime'
        
    elif dfdata.iloc[i,12] == 'Mixed':
        dfdata.iloc[i,12] = 'Mixed greens'
        
    elif dfdata.iloc[i,12] == 'Mixed load':
        dfdata.iloc[i,12] = np.nan
        
    elif dfdata.iloc[i,12] == 'Pineapple':
        dfdata.iloc[i,12] = 'Pineapples'
        
    elif dfdata.iloc[i,12] == 'Mixed produce':
        dfdata.iloc[i,12] = np.nan
        
    elif dfdata.iloc[i,12] == 'Cucumber':
        dfdata.iloc[i,12] = 'Cucumbers'
        
    elif '67,000' in dfdata.iloc[i,12]:
        dfdata.iloc[i,12] = np.nan
        
    elif dfdata.iloc[i,12] in removelist:
        dfdata.iloc[i,12] = np.nan
        
        
        
# dfdata = dfdata['   Produce'].dropna()
    



dfdata = dfdata.dropna(subset=['   Produce'])

waiting on final
179
Food bank is paying
264
will update soon
270
will update soon
271
will update soon
272
0.00
973

In [3]:


print(dfdata.shape)

prodvals = dfdata['   Produce'].values

print(list(set(list(prodvals))))

(642, 45)
['Orange', 'Yellow squash', 'Purple potatoes', 'Apricots', 'Ulu (breadfruit)', 'Mixed  greens', 'Cantaloupes', 'Zucchini', 'Nectarines', 'Italian squash', 'Milk (2%)', 'Radish', 'Red potatoes', 'Apples', 'Mangos', 'Strawberries', 'Green beans', 'Spinach', 'Carrots', 'Sweet corn', 'Salt', 'Roma tomatoes', 'Winter squash', 'Onions', 'Cauliflower', 'Lemons', 'Bananas', 'Eggs(67,000)', 'Milk', 'Eggs', 'Watermelon', 'Pineapples', 'Asparagus', 'Mixed greens', 'White onions', 'Potatoes', 'Tomatoes', 'Chicken', 'Blackberries', 'Cucumbers', 'Organic fuji apples', 'Mango', 'Tomato', 'Yellow onions', 'Red potato', 'Brussel sprouts', 'Watermelons', 'Grapefruit', 'Green onions', 'Lime', 'Sweet potatoes', 'Chard', 'Eggplant', 'Oranges', 'Asian pears', 'Celery', 'Milk (1%)', 'Red leaf lettuce', 'Cabbage', 'Grape tomato', 'Romaine lettuce', 'Blueberries', 'Roma tomato', 'Spaghetti squash', 'Broccoli', 'Chayote', 'Corn', 'Honeydew', 'Squash', 'Collards', 'White peaches', 'Banana', 'Lettuce']

In [8]:
def get_price(entry):
    return float(entry.split('/')[0].split('$')[1])
    

def getMarketValue(produce):
    assert isinstance(produce,str), 'Please use a string value for produce'
    
    url  = 'https://www.amazon.com/s?k='+produce+'&i=wholefoods&ref=nb_sb_noss_2'

    page = requests.get(url, headers = HEADERS)
    soup = BeautifulSoup(page.content, features="lxml")
    
    print(soup)
    
    assert False

    souplist = [s.get_text() for s in soup.find_all('span', class_ = 'a-size-base a-color-secondary')]

    lblist = []
    for s in souplist:
        if 'lb' in s:
            lblist.append(get_price(s))
            
    
    ouncelist = []
    for s in souplist:
        if 'Ounce' in s:
            ouncelist.append(get_price(s)*16.)
            
    print(souplist)
    print(lblist)
    print(ouncelist)


    return min([min(lblist),min(ouncelist)])

In [9]:
getMarketValue('beans')

<!--
        To discuss automated access to Amazon data please contact api-services-support@amazon.com.
        For information about migrating to our APIs refer to our Marketplace APIs at https://developer.amazonservices.com/ref=rm_5_sv, or our Product Advertising API at https://affiliate-program.amazon.com/gp/advertising/api/detail/main.html/ref=rm_5_ac for advertising use cases.
--><!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta content="ie=edge" http-equiv="x-ua-compatible"/>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
<title>Sorry! Something went wrong!</title>
<style>
  html, body {
    padding: 0;
    margin: 0
  }

  img {
    border: 0
  }

  #a {
    background: #232f3e;
    padding: 11px 11px 11px 192px
  }

  #b {
    position: absolute;
    left: 22px;
    top: 12px
  }

  #c {
    position: relative;
    max-width: 800px;
    padding: 0 40px 0 0
  }

  #e, #f {
    height: 35px;
    border: 0;
    font-size: 1em
  }

  #e {
    width: 100%;
    margin: 0;
    padding: 0 10px;
    border-radius: 4px 0 0 4px
  }

  #f {
    cursor: pointer;
    background: #febd69;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 12px
  }

  @media (max-width: 500px) {
    #a {
      padding: 55px 10px 10px
    }

    #b {
      left: 6px
    }
  }

  #g {
    text-align: center;
    margin: 30px 0
  }

  #g img {
    max-width: 90%
  }

  #d {
    display: none
  }

  #d[src] {
    display: inline
  }
  </style>
</head>
<body>
<a href="/ref=cs_503_logo"><img alt="Amazon.com" id="b" src="https://images-na.ssl-images-amazon.com/images/G/01/error/logo._TTD_.png"/></a>
<form accept-charset="utf-8" action="/s" id="a" method="GET" role="search">
<div id="c">
<input id="e" name="field-keywords" placeholder="Search"/>
<input name="ref" type="hidden" value="cs_503_search"/>
<input id="f" type="submit" value="Go"/>
</div>
</form>
<div id="g">
<div><a href="/ref=cs_503_link"><img alt="Sorry! Something went wrong on our end. Please go back and try again or go to Amazon's home page." src="https://images-na.ssl-images-amazon.com/images/G/01/error/500_503.png"/></a>
</div>
<a href="/dogsofamazon/ref=cs_503_d" rel="noopener noreferrer" target="_blank"><img alt="Dogs of Amazon" id="d"/></a>
<script>document.getElementById("d").src = "https://images-na.ssl-images-amazon.com/images/G/01/error/" + (Math.floor(Math.random() * 43) + 1) + "._TTD_.jpg";</script>
</div>
</body>
</html>

AssertionError:

In [234]:
import os
from tqdm import tqdm
if not os.path.isdir('DeductionData'):
    os.mkdir('DeductionData')

for name in tqdm(names):
#     print(name)
    newdf = dfdata[dfdata['   Farm'] == name]
    newdict = {'Produce':[],'Quantity':[],'Market Value':[],'Deduction':[]}
#     print(np.char.strip(newdf['   Produce'].values.astype(str)))
    
    prodtypes = list(set(list(newdf['   Produce'].values.astype(str))))
    
#     print(prodtypes)
    for p in prodtypes:
        newnewdf = newdf[newdf['   Produce']==p]
        sumval = np.sum(newnewdf.iloc[:,13].values.astype(int))
        newdict['Produce'].append(p)
        newdict['Quantity'].append(sumval)
        mkval = getMarketValue(p)
        newdict['Market Value'].append(mkval*sumval)
        newdict['Deduction'].append(.5*mkval*sumval)
        
    dffarm = pd.DataFrame(newdict)
    dffarm.to_csv(os.path.join('DeductionData',name+' Deduction Data.csv'),index = False)
    
    
    
    #
    
    
newdf.iloc[:,[1,12,13,14]]

print(newdict)

100%|██████████| 33/33 [00:51<00:00,  1.56s/it]

{'Produce': ['Cucumbers', 'Corn'], 'Quantity': [4000, 14000], 'Market Value': [7160.0, 134120.0], 'Deduction': [3580.0, 67060.0]}

In [132]:
print(dfdata['   Produce'].fillna(0))

4             Eggs(67,000)
5                 Zucchini
17                potatoes
21           bottled Water
22                    Eggs
               ...
1983                     0
1984                     0
1985                     0
1986                     0
1987                     0
Name:    Produce, Length: 542, dtype: object

In [80]:



#this is now the data we want to work with to get the data for the tax calculator

4       0
5       0
17      0
21      0
22      0
       ..
1983    0
1984    0
1985    0
1986    0
1987    0
Name: Payment, Length: 542, dtype: object

   Taylor Farms

ValueError: invalid literal for int() with base 10: 'nan'

Please enter the type of produce from the following list (without quotes):
['APPLES', 'APRICOTS', 'ASPARAGUS', 'BANANAS', 'BEANS', 'BROCCOLI', 'BRUSSELS+SPROUTS', 'CABBAGE', 'CARROTS', 'CHERRIES', 'CUCUMBERS', 'EGGPLANT', 'GRAPES', 'LETTUCE%2C+ROMAINE', 'LETTUCE%2C+RED+LEAF', 'LETTUCE%2C+GREEN+LEAF', 'MUSHROOMS', 'NECTARINES', 'ONIONS+DRY', 'ORANGES', 'PEACHES', 'PEARS', 'PEPPERS%2C+BELL+TYPE', 'POTATOES', 'SQUASH', 'SWEET+POTATOES', 'TOMATOES', 'WATERMELONS']
Produce Type: POTATOES
Please enter your region from the following list (without quotes):
['SOUTHEAST+U.S.', 'NORTHEAST+U.S.', 'SOUTHWEST+U.S.', 'MIDWEST+U.S.', 'SOUTH+CENTRAL+U.S.', 'NORTHWEST+U.S.']
Location: SOUTHWEST+U.S.

In [90]:
dfdata.iloc[:,[1,13,14]]

                                        Farm Unnamed: 13 Payment
4               Trafficanda Egg Ranches Inc.       18000       0
5                             Wilson Produce       24000       0
17                            LaJoie Growers       40000       0
21       NOLET’S and Non-Alcoholic Suppliers       30000       0
22              Trafficanda Egg Ranches Inc.       10000       0
...                                      ...         ...     ...
1983                                     NaN         nan       0
1984                                     NaN         nan       0
1985                                     NaN         nan       0
1986                                     NaN         nan       0
1987                                     NaN         nan       0

[542 rows x 3 columns]

,Unnamed: 0,Farm,Unnamed: 2,Unnamed: 3,Unnamed: 4,Food Bank,Unnamed: 6,Unnamed: 7,Unnamed: 8,Transportation,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Called Back,Unnamed: 41,Unnamed: 42,Notes,Unnamed: 44
0,NaN,Name,Address,State,Contact,Name,Address,State,Contact,Method,...,Van Type,Pallets,Temp if Reefer,Carrier's Load Ref Number,Notes,POC,Date,Notes,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Number of Unique Food Banks (enter exact sa...,363,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Executed,Owyhee Produce,NaN,OR,NaN,West Side Foodbank,Santa Monica,CA,NaN,Owyhee provided shipper,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Executed,Trafficanda Egg Ranches Inc.,Van Nuys,CA,NaN,FoodFinders,Los Alamitos,CA,NaN,rented Penske,...,NaN,NaN,NaN,NaN,"10,800 eggs * *0.139 lb/ medium egg)",NaN,NaN,NaN,"Eggs(10,800)",NaN
4,Executed,Trafficanda Egg Ranches Inc.,Van Nuys,CA,NaN,FoodFinders,Los Alamitos,CA,NaN,rented Penske,...,NaN,NaN,NaN,NaN,"68,500 eggs * (0.139 lb/ medium egg)",NaN,NaN,NaN,"Eggs(67,000)",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN